# Do not include tests, build scripts and configs
test/**
scripts/**
config/**
reports/**

# Dockerfiles are not needed
Dockerfile

# Copied from gitignore
build/**
lib/**
node_modules/**
nbproject/**
.vscode
reports/**